extends layout

block content
  h1 GitFixed
  div.stats-charts
    div#container

  div.current
    div.active
      img.picture
      div.active-text
        div.message
        div.handle
    ul.messages
