doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Oswald')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Muli')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    script(src='https://code.highcharts.com/highcharts.js')
    script(src='/javascripts/script.js')
    script(async, src='https://www.googletagmanager.com/gtag/js?id=UA-105332493-3')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-105332493-3');
